/*Hoja de EStilos*/
header {
	background-color: #51976A;
}

footer {
	background-color: #47865D;
}

footer div {
	height: 150px;
}
section {
	background-color: #7FCB9A;
}

aside {
	background-color: #A2CBB0;
	height: auto;
}
